@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500;600&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background-color: #fff;
    overflow-x: hidden;
}
.header{
    height: 30vh;
    width: 100%;
    position: relative;
}
.navbar{
    padding: 5px 8px ;
    top: 0;
    position: sticky ;
    background-color: #fff;
    z-index: 999;
}
.nav-item{
    margin: 0px 10px;
}
.nav-item .nav-link{
    position: relative;
}
.nav-link:after{
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0px;
    background-color:rgb(255, 213, 0) ;
    width: 0% ;
    height: 3px;
    transition: 0.4s ease-in-out;
}
.nav-item:hover .nav-link::after{
    width: 100%;
}
.nav-link:hover{
    color: rgb(255, 213, 0);
}
.btn-outline-success:hover{
    background-color:rgb(255, 213, 0) ;
    border-color: rgb(255, 213, 0);
}
/*header konten 1*/
.konten-1-container{
    width: 100%;
    height: 80vh;
}
.konten-1{
    margin-top: 90px;
    margin-bottom: 30px;
}
.heading-konten1 h1{
    font-size: 70px;
    font-weight: 700;
    color: black;
    margin-bottom: 40px;
}
.heading-konten1 p{
    font-size: 16px;
    font-weight: 400;
    color: black;
    line-height: 28px;
    width: 600px;
    text-align: justify;
}
.img-konten-1{
    margin-top: -100px;
}
/*konten 2*/
.Tentang-Piyow{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 3px;
}
.heading-about{
    font-size: 34px;
    color: black;
    margin-bottom: 60px;
    position: relative;
    margin-top: 230px;
}
.card-product{
    padding: 20px 45px;
    background-color: rgb(255, 255, 255);
}
.img-card{
    height:190px !important;
    color: black;
    width: 100%;
    padding: 5px 0px;
    margin: 10px 0px;
    margin-bottom: 20px !important;
}
.card-title{
    font-size: 14px;
}
.card-text{
    font-size: 12px;
    color: black;
    line-height: 22px;
}
.btn-left{
    position: relative;
    left: 20px;
    padding: 10px 12px;
    color: black;
    border-radius: 30px;
    font-size: 46px;
    background-color: rgb(255, 213, 0);
}
.btn-right{
    position: relative;
    right: 20px;
    padding: 10px 12px;
    color: black;
    border-radius: 30px;
    font-size: 46px;
    background-color: rgb(255, 213, 0);
}
/*footer*/
.footer-container{
    width: 100%;
}
.footer{
    width: 100%;
    height: 320px;
    background-color: rgb(238, 235, 235);
    margin-top: 130px;
}
.footer-text1{
    font-size: 18px;
    padding-left: 30px;
    margin-top: -80px;
    font-weight: 400;
    color: black;
}
.sosmed{
    width: 40px;
    height: fit-content;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    margin-left: 30px;
    transition: transform 0.3s ease;
}
.sosmed:hover{
    transform: scale(1.1);
}
.footer-text2{
    font-size: 24px;
    font-weight: bold;
    padding-top: 70px;
}
.footer-text3 ul {
    list-style: none;
    padding: 0;
}
  
.footer-link {
    margin-right: 20px;
} 
.link {
    position: relative;
    text-decoration: none;
    color: #333;
    line-height: 30px;
} 
.link::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 213, 0);
    transition: width 0.3s ease;
}  
.link:hover::before {
    width: 100%;
}
.footer-text4{
    font-size: 24px;
    font-weight: 400;
    padding-top: 70px;
    padding-left: 5px;
}  
.email{
    border-radius: 10px;
    height: 37px;
    border-color: rgb(184, 182, 182);
    box-shadow: 0 10px solid red;
    border: none;
}
.btn-submit{
    border: rgb(238, 234, 234);
    padding: 7px;
    border-radius: 8px;
    background-color: rgb(186, 184, 184);
    transition: transform 0.3s ease;
}
.btn-submit:hover{
    background-image: linear-gradient(to right,rgb(182, 227, 244),rgb(233, 228, 227));
    transition: 0.5s ease;
    transform: scale(1.1);
}
.footer-text5{
    font-size: 14px;
    font-weight: 400;
    padding-left: 5px;
}
.footer-text6{
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    color: black;
}
@media(max-width:1500px){
    .Tentang-Piyow{
        margin-top: 40px;
    }
}
@media(max-width:980px){
    .Tentang-Piyow{
        margin-top: 500px;
    }
    .footer{
        margin-top: 320px;
        height: 400px;
    }
    .footer-text1{
        font-size: 14px;
    }
    .footer-text2{
        font-size: 16px;
        margin-left: 400px;
        margin-top: -230px;
    }
    .footer-text3{
        font-size: 14px;
        margin-left: 400px;
    }
    .footer-text4{
        font-size: 14px;
        margin-left: 25px;
        margin-top: -57px;
    }
    .email{
        margin-left: 25px;
        height: 30px;
    }
    .footer-text5{
        margin-left: 25px;
    }
}
@media(max-width:767px){
    .heading-konten1 p{
        font-size: 14px;
    }
    .Tentang-Piyow{
        margin-top: 860px;
    }
    .card-product{
        width: 460px;
    }
    .footer{
        margin-top: 430px;
    }
    .footer-text4{
        margin-top: -90px;
    }
}
@media(max-width:580px){
    .navbar{
        width: 650px;
    }
    .heading-about{
        font-size: 24px;
        margin-left: 30px;
        font-weight: bold;
    }
    .footer{
        width: 630px;
    }
    .footer-text4{
        margin-top: -52px;
    }
}