@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500;600&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background-color: #fff;
    overflow-x: hidden;
}
.header{
    height: 30vh;
    width: 100%;
    position: relative;
}
.navbar{
    padding: 5px 8px ;
    top: 0;
    position: sticky ;
    background-color: #fff;
    z-index: 999;
}
.nav-item{
    margin: 0px 10px;
}
.nav-item .nav-link{
    position: relative;
}
.nav-link:after{
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0px;
    background-color:rgb(255, 213, 0) ;
    width: 0% ;
    height: 3px;
    transition: 0.4s ease-in-out;
}
.nav-item:hover .nav-link::after{
    width: 100%;
}
.nav-link:hover{
    color: rgb(255, 213, 0);
}
.btn-outline-success:hover{
    background-color:rgb(255, 213, 0) ;
    border-color: rgb(255, 213, 0);
}
/*header konten 1*/
.konten-1-container{
    width: 100%;
    height: 80vh;
}
.konten-1{
    margin-top: 140px;
    margin-bottom: 30px;
}
.heading-konten1 h1{
    font-size: 70px;
    font-weight: 700;
    color: black;
    margin-bottom: 40px;
}
.heading-konten1 p{
    font-size: 16px;
    font-weight: 400;
    color: black;
    line-height: 28px;
    width: 600px;
    text-align: justify;
}
.img-konten-1{
    margin-top: -100px;
}
/*konten-2*/
.konten-2-container{
    width: 100%;
    height: 80vh;
}
.konten-2{
    margin-top: 160px;
    margin-bottom: 20px;
}
.box-container-1{
    display: flex;
    padding: 10px;
    border: 1px solid rgb(184, 182, 182);
    box-shadow:0px 2px 13px 5px #ffb8dd;
    border-radius: 13px;
    transition: transform 0.3s ease;
    margin-right: 30px;
}
.box-container-1:hover {
    transform: scale(1.05);
}

.img-ig{
    width: 200px;
    height: fit-content;
}
.konten2-a h3{
    font-size: 18px;
    font-weight: 700;
    color: black;
    padding-top: 10px;
}
.konten2-a p{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}
.btn-ig{
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    border: 1px solid rgb(36, 193, 255);
    background-color: rgb(36, 193, 255);
    border-radius: 50px;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 600;
    line-height: 50px;
    transition: 0.2s ease;
}
.btn-ig:hover{
    background-color: transparent;
    color: rgb(255, 213, 0);
    border: 1px solid rgb(255, 213, 0) !important;
}
.box-container-2{
    display: flex;
    padding: 10px;
    border: 1px solid rgb(184, 182, 182);
    box-shadow:0px 2px 13px 5px #ffb8dd;
    border-radius: 13px;
    transition: transform 0.3s ease;
    margin-top: 30px;
    margin-right: 30px;
}
.box-container-2:hover {
    transform: scale(1.05);
}
.img-fb{
    width: 200px;
    height: fit-content;
}
.konten2-b h3{
    font-size: 18px;
    font-weight: 700;
    color: black;
    padding-top: 10px;
}
.konten2-b p{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}
.btn-fb{
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    border: 1px solid rgb(36, 193, 255);
    background-color: rgb(36, 193, 255);
    border-radius: 50px;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 600;
    line-height: 50px;
    transition: 0.2s ease;
}
.btn-fb:hover{
    background-color: transparent;
    color: rgb(255, 213, 0);
    border: 1px solid rgb(255, 213, 0) !important;
}
.box-container-3{
    display: flex;
    padding: 10px;
    border: 1px solid rgb(184, 182, 182);
    box-shadow:0px 2px 13px 5px #ffb8dd;
    border-radius: 13px;
    transition: transform 0.3s ease;
    margin-left:30px ;
}
.box-container-3:hover {
    transform: scale(1.05);
}
.img-yt{
    width: 200px;
    height: fit-content;
}
.konten2-c h3{
    font-size: 18px;
    font-weight: 700;
    color: black;
    padding-top: 10px;
}
.konten2-c p{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}
.btn-yt{
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    border: 1px solid rgb(36, 193, 255);
    background-color: rgb(36, 193, 255);
    border-radius: 50px;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 600;
    line-height: 50px;
    transition: 0.2s ease;
}
.btn-yt:hover{
    background-color: transparent;
    color: rgb(255, 213, 0);
    border: 1px solid rgb(255, 213, 0) !important;
}
.box-container-4{
    display: flex;
    padding: 10px;
    border: 1px solid rgb(184, 182, 182);
    box-shadow:0px 2px 13px 5px #ffb8dd;
    border-radius: 13px;
    transition: transform 0.3s ease;
    margin-left:30px ;
    margin-top: 30px;
}
.box-container-4:hover {
    transform: scale(1.05);
}
.img-tw{
    width: 200px;
    height: fit-content;
}
.konten2-d h3{
    font-size: 18px;
    font-weight: 700;
    color: black;
    padding-top: 10px;
}
.konten2-d p{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}
.btn-tw{
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    border: 1px solid rgb(36, 193, 255);
    background-color: rgb(36, 193, 255);
    border-radius: 50px;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 600;
    line-height: 50px;
    transition: 0.2s ease;
}
.btn-tw:hover{
    background-color: transparent;
    color: rgb(255, 213, 0);
    border: 1px solid rgb(255, 213, 0) !important;
}
/*footer*/
.footer-container{
    width: 100%;
}
.footer{
    width: 100%;
    height: 320px;
    background-color: rgb(238, 235, 235);
    margin-top: 30px;
}
.footer-text1{
    font-size: 18px;
    padding-left: 30px;
    margin-top: -80px;
    font-weight: 400;
    color: black;
}
.sosmed{
    width: 40px;
    height: fit-content;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    margin-left: 30px;
    transition: transform 0.3s ease;
}
.sosmed:hover{
    transform: scale(1.1);
}
.footer-text2{
    font-size: 24px;
    font-weight: bold;
    padding-top: 70px;
}
.footer-text3 ul {
    list-style: none;
    padding: 0;
}
  
.footer-link {
    margin-right: 20px;
} 
.link {
    position: relative;
    text-decoration: none;
    color: #333;
    line-height: 30px;
} 
.link::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 213, 0);
    transition: width 0.3s ease;
}  
.link:hover::before {
    width: 100%;
}
.footer-text4{
    font-size: 24px;
    font-weight: 400;
    padding-top: 70px;
    padding-left: 5px;
}  
.email{
    border-radius: 10px;
    height: 37px;
    border-color: rgb(184, 182, 182);
    box-shadow: 0 10px solid red;
    border: none;
}
.btn-submit{
    border: rgb(238, 234, 234);
    padding: 7px;
    border-radius: 8px;
    background-color: rgb(186, 184, 184);
    transition: transform 0.3s ease;
}
.btn-submit:hover{
    background-image: linear-gradient(to right,rgb(182, 227, 244),rgb(233, 228, 227));
    transition: 0.5s ease;
    transform: scale(1.1);
}
.footer-text5{
    font-size: 14px;
    font-weight: 400;
    padding-left: 5px;
}
.footer-text6{
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    color: black;
}
@media (max-width:1500px) {
    .footer{
        margin-top: -430px;
        margin-bottom: 0px;
    }
    .konten-2{
        margin-top: 16px;
        margin-bottom: 2px;
    }
}
@media(max-width:950px){
    .img-konten-1{
        width: 230px;
        margin-top: 5px;
    }
    .box-container-3{
        margin-top: 30px;
        margin-right: 30px;
        margin-left: -3px;
    }
    .box-container-4{
        margin-top: 30px;
        margin-right: 30px;
        margin-left: -3px;
    }
    .footer{
        margin-top: 5px;
        height: 400px;
    }
    .footer-text1{
        font-size: 16px;
    }
    .footer-text2{
        font-size: 18px;
        margin-left: 400px;
        margin-top: -230px;
    }
    .footer-text3{
        font-size: 14px;
        margin-left: 400px;
    }
    .footer-text4{
        font-size: 14px;
        margin-top: -60px;
        margin-left: 23px;
    }
    .email{
        margin-left: 23px;
        height: 29px;
    }
    .footer-text5{
        margin-left: 23px;
        font-size: 14px;
    }
}
@media(max-width:767px){
    .img-konten-1{
        width: 400px;
    }
    .konten-2{
        margin-top: 340px;
    }
}
@media(max-width:550px){
    .navbar{
        width: 600px;
    }
    .heading-konten1 p{
        padding: 10px;
    }
    .konten-2{
        margin-left: 30px;
        width: 600px;
    }
    .footer{
        width: 600px;
        align-items: center;
    }
}